.category{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data h1{
    color: var(--color-text-primary);
    font-size: 1.5rem;
font-weight: bold;
}
.data button{
    background-color: var(--color-primary);
    color: var(--color-bg-card);
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}